asm
assets
astralsorcery
mods
cache
caches
classOut
coremods
crash-reports
journeymap
logs
opframe_cache
resourcepacks
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
TombManyGraves
vintagefix
visualores